{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-5">Ewill test</h1>
    </div>

{% endblock %}
