{% extends 'base.html.twig' %}

{% block title %}Nouveau produit | Ewill-test{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-5">Ajouer un nouveau produit</h1>

        {{ include('produits/_form.html.twig') }}

        <a href="{{ path('produits_index') }}" class="btn btn-primary button_style">Retour</a>
    </div>
{% endblock %}
